.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    width: 95%;
    margin: 0 auto;
}
body{
    background-color: gray;
    margin-top: 0px;
}
.header{
    background-image: url(../images/background.webp);
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 10px 10px;

}
.headerContainer{
    width:fit-content;
    margin: 0 auto;
}
.headerContainer a{
    color: white;
    padding-right: 10px;
}